---
layout: page
css: ["index.css"]
permalink: /
---

<div class="row">

  <h1>BUILD</h1>

  <div>
    {% include search_form.html %}
  </div>

  <div>{% include overview.html %}</div>

  <h2>Notes</h2>
  <hr>

  <h5>Thrusts</h5>
  <div class="thi-columns">
    <ul class="tag-post">
    {% for thrust in site.notes %}
      {% if thrust.url contains 'thrust' %}<a class="post-title" href="{{ site.baseurl }}{{ thrust.url }}">
        <li>
          {{ thrust.title }} 
        </li>
      </a>{% endif %}
    {% endfor %}
    </ul>
  </div>

  <h5>Papers</h5>
  <div class="thi-columns">
    <ul class="tag-post">
    {% for paper in site.papers %}
      <a class="post-title" href="{{ site.baseurl }}{{ paper.url }}">
        <li>
          {{ paper.title }} 
        </li>
      </a>
    {% endfor %}
    </ul>
  </div>

  <h5>Topics</h5>
  <div class="thi-columns">
    <ul class="tag-post">
    {% for note in site.notes %}
      {% if note.url contains 'thrust' %}{% else %}<a class="post-title" href="{{ site.baseurl }}{{ note.url }}">
        <li>
          {{ note.title }} 
        </li>
      </a>{% endif %}
    {% endfor %}
    </ul>
  </div>

  <h5>Writeups</h5>
  <div class="thi-columns">
    <ul class="tag-post">
    {% for post in paginator.posts %}
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        <li>
          {{ post.title }} <small class="post-date">{{post.date | date: "%d/%m/%Y"}}</small>
        </li>
      </a>
    {% endfor %}
    </ul>
  </div>

  <div class="col s12 center-align">
    <ul class="pagination">
      <li class="{% unless paginator.previous_page %}disabled{% else %}waves-effect{% endunless %}">
      {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="{{site.baseurl}}/">
      {% else %}
      <a href="{{site.baseurl}}/page{{paginator.previous_page}}">
      {% endif %}
      {% else %}
      <a href="#!">
      {% endif %}
        <i class="material-icons">chevron_left</i>
      </a>
      </li>
      {% if paginator.page == 1 %}
      <li class="active teal">
        <a href="#!">1</a>
      {% else %}
      <li class="waves-effect">
        <a href="{{site.baseurl}}/">1</a>
      {% endif %}
      </li>
      {% for count in (2..paginator.total_pages) %}
      {% if count == paginator.page %}
      <li class="active teal"><a href="#!">{{count}}</a></li>
      {% else %}
      <li class="waves-effect"><a href="{{site.baseurl}}/page{{count}}">{{count}}</a></li>
      {% endif %}
      {% endfor %}
      <li class="{% unless paginator.next_page %}disabled{% else %}waves-effect{% endunless %}">
      {% if paginator.next_page %}
      <a href="{{site.baseurl}}/page{{paginator.next_page}}">
      {% else %}
      <a href="#!">
      {% endif %}
        <i class="material-icons">chevron_right</i>
      </a>
      </li>
    </ul>
  </div>
</div>
