<div>
LLNL is starting a new strategic initiative called BUILD ("Binary Understanding and Integration Logic for Dependencies"). BUILD aims to 

<ol>
<li>study and formally specify ABI and other aspects of software compatibility </li>
<li>develop binary analysis techniques to extract compatibility information from arbitrary binaries</li>
<li>develop SMT-based methods to quickly find compatible-by-construction combinations of dependencies </li>
<li>to optimize constructed component graphs. </li>
</ol>
The BUILD project will leverage and ultimately contribute its techniques to LLNL’s package manager, <a href="https://github.com/spack/spack">Spack</a>.
</div>
